extends ../_bootstrap

//-
    This mixin populate one configuration container for a motor with four
    different value fields
    2x option box to specify pins for the sensor
    2x textfields for scaling and offset

    Parameters:
    constData: contain static values for this container
    pinList : usable pins for this sensor
    values: value list for this container
        Format: {clkPin : <value>, dataPin: <value>, scale: <value>, offset:<value>}


mixin configMotor(constData, pinList, values)
    .div.form-group
        .col-sm-6
            .panel.panel-primary.opacity95(id=constData.id)
                .panel-heading
                    .container
                        .col-sm-3
                            h4=constData.title
                        .col-sm-3
                            h4 #{values.sensor}g
                .panel-body
                    .col-sm-6
                        label.control-label.requiredField(for=constData.clkPin)
                            | Clock Pin
                        select#propertyType.select.form-control.input-sm(name=constData.clkPin, required=true)
                            option(value='0' ) -- Select --
                                each val, idx in pinList
                                    option(value=idx selected = 2) #{pinList[idx].name}
                    .col-sm-6
                        label.control-label.requiredField(for=constData.dataPin)
                            | Data Pin
                        select#propertyType.select.form-control.input-sm(name=constData.dataPin, required=true)
                            option(value='0' ) -- Select --
                                each val, idx in pinList
                                    option(value=idx selected = values.data) #{pinList[idx].name}
                    .col-sm-6
                        label.control-label
                            | Scale Factor
                        input.form-control.input-sm(ype="text" name=constData.scale placeholder="scale factor")
                    .col-sm-6
                        label.control-label
                            | Offset value
                        input.form-control.input-sm(type="text" name=constData.offset placeholder="offset value")


append styles
block body
    - 
      var valueList = [
          {clkPin: 1, dataPin: 2, scale:100, offset:0, sensor: 123},
          {clkPin: 3, dataPin: 4, scale:150, offset:10, sensor: 234},
          {clkPin: 5, dataPin: 6, scale:300, offset:20, sensor: 345},
          {clkPin: 5, dataPin: 6, scale:555, offset:30, sensor: 876}
      ];
    - var valueM4 = 620.0;
    - 
      const configData = [
        {id : 'M1', title : 'Motor 1',clkPin : 'optClockPinM1', dataPin: 'optDataPinM1', scale:'scaleM1', offset:'offsetM1'},
        {id : 'M2', title : 'Motor 2',clkPin : 'optClockPinM2', dataPin: 'optDataPinM2', scale:'scaleM2', offset:'offsetM2'},
        {id : 'M3', title : 'Motor 3',clkPin : 'optClockPinM3', dataPin: 'optDataPinM3', scale:'scaleM3', offset:'offsetM3'},
        {id : 'M4', title : 'Motor 4',clkPin : 'optClockPinM4', dataPin: 'optDataPinM4', scale:'scaleM4', offset:'offsetM4'}            
        ];

    .welcome-page
        .container
            .jumbotron
                h2 #{title}
        .container(style='background-image: url(/images/motor_order/quadcopter_top.png); no-repeat; background-position: 55%,50%')
            .row
            
            form(method="POST" action="")
                +configuMotor( #{configData[3]}, #{pinList}, #{valueList[3]}n )
                //+configMotor(configData[3], pinList, valueList[3])
                //+configMotor(configData[0], pinList, valueList[0])
                //+configMotor(configData[2], pinList, valueList[2])
                //+configMotor(configData[1], pinList, valueList[1])
                .col-sm-2
                    button.btn.btn-danger.btn-block.opacity95(type='submit' value = "btnSubmit" name="hx711") Save Data
                .col-sm-2
                    button.btn.btn-warning.btn-block.opacity95(type='submit' value="btnReload" name="hx711") Reload Data
                .col-sm-2
                    button.btn.btn-success.btn-block.opacity95(type='submit' value="btnTest" name="hx711") Test Sensors
                .col-sm-2
                    button.btn.btn-primary.btn-block.opacity95(type='submit' value="btnReset" name="hx711") Reset Sensors